{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <form method="post">
                {% csrf_token %}
                <h1>Are you sure?</h1>
                {{ form.as_p }}
                <div>
                    <button>Delete</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
