<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List - Brain Two</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style-type: none">
                <li>
                    <a href="{% url 'todo_list_list' %}">To-Do Lists</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
